.blog {

  .col-md-8 {
    margin-left: auto;
    margin-right: auto;
  }

  .body {
    font-family: $font_sans;
    font-size: 22px;
    line-height: 1.1;
  }
}

.category-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    padding-bottom: 8px;
  }
}

.category-header {
  align-self: center;

  h1 {
    margin: 33px 0px !important;
  }
}

h2 {
  font-family: $font_oswald;
  font-size: 40px;
}

a {
  color: $black !important;

  &:hover {
    color: rgba(10, 143, 144, 0.9) !important;
  }
}

.col-md-8 {
  text-align: left;
  padding-left: 0px;

  .container {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .post-detail-card {
    margin-bottom: 46px;
  }

  h1,
  h2 {
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.5pt;
    margin: 15px 0px;
  }

}

.container.post {
  h1 {
    margin-bottom: 66px;
    font-family: $font_oswald;
  }

  img {
    margin-bottom: 33px;
  }
}


@media #{$desktop, tablet} {
  .blog {
    background: url("../src/img/stadium.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
  }

  .single.col-md-8 {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 30px;
    padding-left: 10px !important;
    padding-right: 10px !important;

    .single-info {
      display: flex;
      align-items: center;
    }

    .single-share {
      display: flex;
      justify-content: space-between;
    }

    .blog-main-image {
      min-width: 100%;
    }

    .socials {
      justify-content: center;
      flex-direction: row;
      // .
    }
  }

  .blog-list h1 {
    margin: 50px auto;
  }
}

.blog-pagination {
  background-color: transparent !important;
  padding-bottom: 20px;

  li.page-item a {
    background-color: $light_green !important;
  }

  .page-link.active-page {
    background-color: $blue !important;
    color: $light_green !important;

    &:hover {
      color: $light_green !important;
    }

    &:focus {
      box-shadow: none;
    }
  }
}

.blog-list {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  padding-top: 60px;

  h1 {
    font-family: $font_bungee;
    text-align: center;
    padding: 20px 15px 25px;
    background-color: $light_green;
    align-self: center;
    font-size: 3.3rem;
  }

  .category-blog {
    padding: 10px;
    background-color: $light_green;
    margin-bottom: 40px;

    h2 {
      line-height: 1;
      letter-spacing: 1;
      font-weight: 500;
      font-size: 1.5rem;
    }

    .body {
      font-family: $font_sans;
      font-size: 22px;
      line-height: 1.1;
    }
  }

  text-align: left;
}

@media #{$mobile} {
  .blog {
    background-size: auto;
    background: url("../src/img/stadium-small.jpg");
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;

  }

  .single.col-md-8 {
    padding: 0px 6px;

    .commentator {
      margin-right: 15px;
    }

    img {
      margin-bottom: 15px;
    }

    .blue {
      width: 100%;
    }

    .single-info {
      margin-bottom: 13px;
    }

    h2 {
      font-size: 1.6rem;
      line-height: 1.2;
      margin-top: 15px;
    }
  }

  .single-blog-wrapper .avatar,
  .single .comments img {
    max-width: 90px;
    min-width: 90px;
    max-height: 90px;
    min-height: 90px;
    margin-right: 3px;
  }

  .blog-list.col-xs-12.col-md-8 {
    padding-top: 33px;
    padding-left: 8px;
    padding-right: 8px;

    h1 {
      padding: 17px 15px 20px;
      // width: 100%;
    }

    .category-header {
      margin-bottom: 50px !important;
      font-size: 2.3rem;
    }

    img {
      min-height: 250px;
      max-height: 250px;
    }
  }

  .single {
    margin-top: 50px !important;
    margin-bottom: 80px;

    h2 {
      padding-bottom: 10px;
    }

    .comment-wrapper {
      flex-direction: column;

      textarea {
        width: 100%;
        margin-bottom: 0px;
      }

      button {
        margin-bottom: 15px;
      }
    }

    .comment-body {
      font-size: 1.1rem;
    }
  }

  .article-cover {
    max-height: 250px !important;
    min-height: 250px !important;
    height: 250px !important;
  }
}

@media #{$tablet} {
  .comment-wrapper {
    display: flex;
    flex-direction: column;

    textarea {
      padding-right: 0px !important;
      margin-right: 0px !important;
    }

    .blue {
      width: 100%;
    }

    p.ubuntu {
      margin-top: 5px !important;
      margin-bottom: 0px;
    }
  }
}