footer {
  padding: 25px 0px 0px;
  background-color: $dark_grey;

  hr:first-child {
    border: 0.5px solid rgba(255, 255, 255, .7);
  }

  .nav {
    display: flex;
    justify-content: space-between;
    background-color: transparent;

    .list-group {
      background-color: transparent;

    }

    a {
      color: $white !important;
    }

    .white {
      background: transparent;
      border: none;
      padding-left: 15px;

      svg {
        color: $white;
      }
    }
  }

  .nav-search-form input.form-control {
    color: $white;
    border-bottom: 1.5px solid $white;
    padding-bottom: 5px !important;

    &:focus {
      outline: none;
      background-color: transparent !important;
    }

    &::placeholder {
      color: $white;
    }

    svg {
      color: $white;
    }
  }



  .nav-search-form input.form-control {
    margin-right: 0px;
    height: 100%;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-top: 15px;
    outline: none;
    background: transparent;

    &:focus {
      background: transparent;
    }

  }

  @media #{$mobile} {
    .nav-search-form input.form-control {
      height: auto;
      padding-top: 5px;
      outline: none;
      font-size: 1.23rem;
      padding-bottom: 3px;
      width: 80%;


      button.btn.btn-white {
        width: 60px;
      }
    }

    .list-group:last-child {
      width: 100%;
      justify-content: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .nav-search-form svg {
    font-size: 2.33rem;
    color: $white;
  }

  li,
  a {
    font-family: $font_sans;
    width: 100%;
    padding: 3px 0px;
    font-size: 21px;

    &:first-child {
      font-weight: 500;
    }
  }

  p {
    text-align: center;
    font-family: $font_sans;
    font-size: 20px;
    margin-bottom: 0px;

    color: $white;

    span {
      font-family: $font_bungee;
      font-size: 20px;
      padding-bottom: 0px;
    }
  }

  .footer-socials {
    display: flex;
    flex-direction: row;
    padding: 10px 0px 20px;

    path:hover {
      // fill: $dark_grey;
    }

    svg {
      border: 1px solid $white;
      color: $white !important;

    }

    rect {
      fill: $dark_grey;
      opacity: 0;
    }

    .btn.btn-white svg {}
  }
}

@media #{$mobile} {
  footer {
    .list-group {
      margin-right: 0px;
      padding-left: 5px;
      padding-right: 0px;
      flex-wrap: wrap;
      width: 50%;
      margin-bottom: 13px;

      a {
        font-size: 1.2rem;
      }
    }

    form {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .btn {
      width: 13%;
    }

    p {
      margin-bottom: 0px;
      padding-bottom: 15px;
      color: $white;
    }
  }
}

@media #{$tablet} {
  footer .container {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .nav-search-form input.form-control {
    width: 200px;
    font-size: 1.4rem;
  }

  footer .nav {
    flex-wrap: initial;
    flex-direction: row;
    flex-wrap: nowrap !important;
  }

  footer .nav .list-group {
    background-color: transparent;
    flex-direction: column !important;
    display: flex;
    width: 50%;
    align-items: flex-end;
    padding-right: 5px;
    justify-content: flex-start;
    padding-right: 8px;

    a {
      font-size: 1rem !important;
    }
  }
}