footer {
  padding: 25px 0px 0px;
  background-color: $grey;

  .nav {
    display: flex;
    justify-content: space-between;

    a {
      color: $white !important;
    }
  }

  .nav-search-form input.form-control {
    background: transparent;
    color: $white;
    border-bottom: 1.5px solid $white;

    &:focus {
      outline: none;
      background-color: $grey;
    }

    &::placeholder {
      color: $white;
    }

    svg {
      color: $white;
    }
  }

  @media #{$tablet} {
    .nav-search-form input.form-control {
      width: 200px;
      font-size: 1.4rem;
    }
  }

  .nav-search-form input.form-control {
    margin-right: 0px;
    height: 100%;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-top: 15px;
    outline: none;


    button.btn.btn-white {
      width: 60px;

      svg {
        color: $white;
      }
    }
  }

  @media #{$mobile} {
    .nav-search-form input.form-control {
      height: auto;
      padding-top: 5px;
      outline: none;
      font-size: 1.23rem;
      padding-bottom: 3px;
      width: 80%;

      &:focus {
        outline: none;
      }

      button.btn.btn-white {
        width: 60px;
      }
    }

    .list-group:last-child {
      width: 100%;
      justify-content: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .nav-search-form svg {
    font-size: 2.33rem;
    color: $white;
  }

  li,
  button,
  a {
    font-family: $font_sans;
    width: 100%;
    padding: 3px 0px;
    font-size: 21px;

    &:first-child {
      font-weight: 500;
    }
  }

  p {
    text-align: center;
    font-family: $font_sans;
    font-size: 20px;

    span {
      font-family: $font_bungee;
      font-size: 20px;
    }
  }

  .footer-socials {
    display: flex;
    flex-direction: row;
    padding: 10px 0px 20px;

    path:hover {
      fill: $black;
    }

    svg {
      border: 1px solid $white;
      color: $white !important;

    }

    rect {
      fill: $black;
    }

    .btn.btn-white svg {}
  }
}

@media #{$mobile} {
  footer {
    .list-group {
      margin-right: 0px;
      padding-left: 5px;
      padding-right: 0px;
      flex-wrap: wrap;
      width: 50%;
      margin-bottom: 13px;

      a {
        font-size: 1.2rem;
      }
    }

    form {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .btn {
      width: 13%;
    }

    p {
      margin-bottom: 0px;
      padding-bottom: 15px;
      color: $white;
    }
  }
}