.top-navbar {
  background-color: $blue;
  a {
    text-decoration: none;
    display: flex;
    color: $white;
    align-items: center;
  }
  .login {
    font-weight: bold;
    display: flex;
    align-items: center;
    span {
      padding-right: 15px;
      display: flex;
      flex-direction: row;
    }
  }
  .nav-account {
    align-self: center;
    font-family: $font_ubuntu;
    text-transform: capitalize;
    color: $white;
    font-weight: 500;
    display: flex;
    align-items: center;
    span {
      display: flex;
      align-items: center;
    }
    svg {
      color: $white;
      margin: 0px 8px;
    }
    .btn {
      padding: 0px;
      text-align: right;
      svg:hover {
        color: #000;
      }
    }
  }
  .container {
    display: flex;
    padding: 10px;
    justify-content: space-between;
  }
  .nav {
    justify-content: space-between;
    display: flex;
    align-items: center;
    .container {
      display: flex;
      justify-content: space-between;

      ul {
        width: 100%;
      }
    }

    // height: 150px;
    width: 100%;
  }
  .fanzone {
    font-family: $font_bungee;
    color: $white;
    font-size: 33px;
    padding-left: 15px;
  }

  img {
    height: 40px;
    width: 40px;
  }
}

@media #{$mobile} {
  .top-navbar {
    .container {
      padding: 15px 15px !important;
    }
    img {
      height: 40px;
      width: 40px;
    }
    .fanzone {
      font-size: 27px;
      padding-left: 10px;
    }
  }
}
.nav-search-form {
  margin-left: 0px;
  display: flex;
  input,
  svg {
    align-self: center;
    // color: black;
  }
  input {
    margin-bottom: 0px;
    width: 255px;
    border: none;
    border-bottom: 3px solid black;
    border-radius: 0px;
    margin-right: 10px;
    font-family: $font_ubuntu;
  }
  button {
    padding: 0px;
  }
  svg {
    font-size: 20px;
    color: black;
  }
}
.bottom-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .dropdown-item {
    // .list-group-item {
    padding: 7px 0px !important;
    // }
    a {
      font-family: $font_sans !important;
      font-weight: 400 !important;
      text-transform: capitalize;
      font-size: 23px;
    }
  }
  @media #{$large} {
    .list-group {
      flex-direction: row;
      .list-group-item {
        align-self: center;
        border: none;
        margin-bottom: 0px;
        padding: 6px 1.25rem;
        &:first-child {
          margin-left: 0px;
          padding-left: 0px;
        }
      }
    }
  }

  @media #{$mobile} {
    .list-group {
      flex-direction: column;
    }
    .list-group-item {
      align-self: flex-start;
      margin-bottom: 0px;
      border: none;
      padding: 10px 15px 10px 10px;
      min-height: 60px;
      max-height: 60px;
      align-items: center;
      display: flex;
      &:first-child {
        padding-left: 10px;
        margin-bottom: 7px;
      }
    }
    form#search-nav {
      margin-left: 11px;
      display: flex;
      height: 60px;
    }
  }
  .dropdown-menu.show {
    z-index: 99999;
  }
  .btn .btn-secondary,
  .dropdown-toggle,
  .show > .btn-secondary.dropdown-toggle {
    background-color: $white;
    color: black;
    box-shadow: none;
    &:focus {
      background-color: $white;
      box-shadow: none;
    }
  }
  button,
  a {
    font-family: $font_ubuntu;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    padding: 14px 0px;
    letter-spacing: 0.5pt;
    color: $black;
    border: none;
    &:hover {
      text-decoration: none;
      color: $black;
    }
  }
  .active {
    border-bottom: 4px solid cadetblue;
    color: black;
  }
}
.navbar {
  width: 100%;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.disappear {
  opacity: 0;
  transition-duration: 0.3s;
}
.appear {
  opacity: 1;
  transition-duration: 0.3s;
}
.hidden {
  display: none;
}
.fixed-navbar {
  top: 0px;
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: $white;
}
.dropdown-menu.show {
  width: 333px;
  margin-left: -20px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0px;
  left: 18px !important;
  .dropdown-item,
  .dropdown-item a:hover {
    background: #fff;
    color: $blue;
  }
}
@media #{$mobile} {
  .dropdown-menu.show {
    left: 18px !important;
  }
}
@media #{$desktop} {
  .navbar-toggler {
    display: none !important;
  }
  .navbar {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}
.navbar-toggler {
  border: 1.5px solid $black !important;
  padding: 0px 3px !important;
  margin-left: 6px;
  img {
    height: 35px;
    width: 35px;
    padding: 4px;
  }
  &:focus {
    outline: none;
  }
}
.button.dropdown-toggle.btn.btn-secondary.active,
.btn-secondary:not(:disabled):not(.disabled):active,
.btn.btn-secondary:hover,
.btn.btn-secondary.active {
  background-color: #fff;
  color: $black;
}
