.top-navbar {
  background-color: $blue;
  a {
    text-decoration: none;
    display: flex;
    color: $white;
    align-items: center;
  }
  .login {
    font-weight: bold;
    display: flex;
    align-items: center;
    span {
      padding-right: 15px;
      display: flex;
      flex-direction: row;
    }
  }
  .nav-account {
    align-self: center;
    font-family: $font_ubuntu;
    text-transform: capitalize;
    color: $white;
    font-weight: 500;
    display: flex;
    align-items: center;
    span {
      display: flex;
    }
    svg {
      color: $white;
      margin: 0px 8px;
    }
    .btn {
      padding: 0px;
      text-align: right;
      svg:hover {
        color: #000;
      }
    }
  }
  .container {
    display: flex;
    padding-top: 22px;
    padding-bottom: 22px;
    justify-content: space-between;
  }
  .nav {
    justify-content: space-between;
    display: flex;
    align-items: center;
    .container {
      display: flex;
      justify-content: space-between;

      ul {
        width: 100%;
      }
    }

    // height: 150px;
    width: 100%;
  }
  .fanzone {
    font-family: $font_bungee;
    color: $white;
    font-size: 40px;
    padding-left: 15px;
  }

  img {
    height: 66px;
    width: 66px;
  }
}
.bottom-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .list-group {
    flex-direction: row;
    .list-group-item {
      align-self: center;
      border: none;
      margin-bottom: 0px;
      &:first-child {
        margin-left: 0px;
        padding-left: 0px;
      }
    }
  }
  .btn .btn-secondary,
  .dropdown-toggle,
  .show > .btn-secondary.dropdown-toggle {
    background-color: $white;
    color: black;
    box-shadow: none;
    &:focus {
      background-color: $white;
      box-shadow: none;
    }
  }
  button,
  a {
    font-family: $font_ubuntu;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    padding: 14px 0px;
    letter-spacing: 0.5pt;
    color: $black;
    border: none;
    &:hover {
      text-decoration: none;
      color: $black;
    }
  }
  .active {
    border-bottom: 4px solid cadetblue;
    color: black;
  }
  .nav-search-form {
    margin-left: 0px;
    display: flex;
    input,
    svg {
      align-self: center;
      // color: black;
    }
    input {
      margin-bottom: 0px;
      width: 255px;
      border: none;
      border-bottom: 3px solid black;
      border-radius: 0px;
      margin-right: 10px;
      font-family: $font_ubuntu;
    }
    button {
      padding: 0px;
    }
    svg {
      font-size: 20px;
      color: black;
    }
  }
}

.disappear {
  opacity: 0;
  transition-duration: 0.3s;
}
.appear {
  opacity: 1;
  transition-duration: 0.3s;
}
.hidden {
  display: none;
}
.fixed-navbar {
  top: 0px;
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: $white;
}
