#navigation,
.dropdown-menu.show {
  background-color: $old;
}

#navigation {

  .nav,
  .navbar-expand-md .navbar-collapse {
    background-color: $old;
  }


}

.top-navbar {
  background-color: $blue;

  a {
    text-decoration: none;
    display: flex;
    color: $white;
    align-items: center;
  }

  .login {
    font-weight: bold;
    display: flex;
    align-items: center;

    span {
      padding-right: 15px;
      display: flex;
      flex-direction: row;
    }
  }

  .nav-account {
    align-self: center;
    font-family: $font_ubuntu;
    text-transform: capitalize;
    color: $white;
    font-weight: 500;
    display: flex;
    align-items: center;

    span {
      display: flex;
      align-items: center;

      p {
        margin-bottom: 0px;
        margin-right: 9px;
      }
    }

    svg {
      color: $white;
      margin: 0px 0px 0px 10px;
    }

    .btn {
      padding: 0px;
      text-align: right;

      svg:hover {
        color: #000;
      }
    }
  }

  .container {
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
  }

  .nav {
    justify-content: space-between;
    display: flex;
    align-items: center;

    .container {
      display: flex;
      justify-content: space-between;

      ul {
        width: 100%;
      }
    }

    // height: 150px;
    width: 100%;
  }

  .fanzone {
    font-family: $font_bungee;
    color: $black;
    font-size: 2rem;
    padding-left: 15px;

    &:hover {
      color: #fff;
    }
  }

  img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
}

@media #{$mobile} {
  .hidden-xs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px 6px 0px 0px;

    p {
      padding-right: 8px;
    }
  }

  .top-navbar .login span {
    padding-right: 5px;
    font-weight: normal;
  }

  .bottom-navbar img {
    img {
      border-radius: 50%;
    }
  }

  .top-navbar {

    .nav-account .hidden-xs,
    .nav-account .btn {
      display: none;
    }

    .container {
      padding: 15px 15px !important;
    }

    .nav-account {
      align-items: flex-end;
    }

    .fanzone {
      font-size: 1.66rem;
      padding-left: 10px;
    }
  }
}

.nav-search-form {
  margin-left: 0px;
  display: flex;

  input,
  svg {
    align-self: center;
    // color: black;
  }

  input {
    margin-bottom: 0px;
    width: 255px;
    border: none;
    border-bottom: 3px solid black;
    border-radius: 0px;
    margin-right: 10px;
    font-family: $font_ubuntu;
    padding-left: 7px;
    background-color: $old;

    &:focus {
      background-color: rgba(255, 222, 194, 0.97) !important;
      outline: none !important;
      box-shadow: none;
      border-bottom: 2px solid black;
    }
  }

  button {
    padding: 0px;
  }

  svg {
    font-size: 20px;
    color: black;
  }
}

.bottom-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $old;

  .dropdown-item {
    .list-group-item {
      background-color: $old;
    }

    padding: 7px 0px !important;

    a {
      font-family: $font_sans !important;
      font-weight: 400 !important;
      text-transform: capitalize;
      font-size: 23px;
    }
  }

  @media #{$desktop} {
    .list-group {
      flex-direction: row;

      .list-group-item {
        align-self: center;
        border: none;
        margin-bottom: 0px;
        padding: 6px 1.25rem;
        background-color: $old;

        &:first-child {
          margin-left: 0px;
          padding-left: 0px;
        }
      }
    }
  }

  .visible-xs.list-group {
    display: none;
  }

  @media #{$mobile} {
    .nav-search-form input {
      width: 100%;
    }

    .visible-xs.list-group {
      display: flex;
      width: 50%;
      min-height: 100%;

      .nav-account {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;

        .btn.btn-black {
          padding-right: 6px;
        }
      }

      img {
        min-height: 80px;
        max-width: 80px;
        border-radius: 50%;
        margin-bottom: 0px;
      }

      p {
        font-family: $font_ubuntu;
        text-transform: capitalize;
        font-weight: 500;
      }

      a {
        padding-top: 20px;
      }

      a,
      button {
        text-transform: capitalize;

        svg {
          margin-left: 8px;
        }
      }
    }

    .list-group {
      flex-direction: column;
      width: 50%;
    }

    .list-group-item {
      align-self: flex-start;
      margin-bottom: 0px;
      border: none;
      padding: 10px 15px 10px 10px;
      min-height: 60px;
      max-height: 60px;
      align-items: center;
      display: flex;
      background-color: rgba(255, 222, 194, 0.97);

      &:first-child {
        padding-left: 10px;
        margin-bottom: 7px;
      }
    }

    form#search-nav {
      margin-left: 10px;
      display: flex;
      height: 60px;

      .form-control {
        padding-left: 3px;
      }
    }

  }

  .dropdown-menu.show {
    z-index: 99999;
  }

  .btn .btn-secondary,
  .dropdown-toggle,
  .show>.btn-secondary.dropdown-toggle {
    background-color: $old;
    color: black;
    box-shadow: none;

    &:focus {
      background-color: $old;
      box-shadow: none;
    }
  }

  button,
  a {
    font-family: $font_ubuntu;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    padding: 14px 0px;
    letter-spacing: 0.5pt;
    color: $black;
    border: none;

    &:hover {
      text-decoration: none;
      color: $black;
    }
  }

  .active {
    border-bottom: 4px solid cadetblue;
    color: black;
  }
}

.top-navbar .container,
.bottom-navbar.container {
  padding: 0px;
}

.navbar {
  width: 100%;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.disappear {
  opacity: 0;
  transition-duration: 0.3s;
}

.appear {
  opacity: 1;
  transition-duration: 0.3s;
}

.hidden {
  display: none;
}

.fixed-navbar {
  top: 0px;
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: $old;
}

.dropdown-menu.show {
  width: 333px;
  margin-left: -20px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0px;
  left: 18px !important;

  .dropdown-item,
  .dropdown-item a:hover {
    background: $old;
    color: $blue;
  }
}

@media #{$mobile} {
  .dropdown-menu.show {
    left: 18px !important;
  }

  .nav {
    justify-content: space-between;
  }
}

@media #{$desktop} {
  .navbar-toggler {
    display: none !important;
  }

  .navbar {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}

.navbar-toggler {
  border: 1.5px solid $black !important;
  padding: 0px 3px !important;
  margin-left: 6px;

  img {
    height: 35px;
    width: 35px;
    padding: 4px;
  }

  &:focus {
    outline: none;
  }
}

.button.dropdown-toggle.btn.btn-secondary.active,
.btn-secondary:not(:disabled):not(.disabled):active,
.btn.btn-secondary:hover,
.btn.btn-secondary.active {
  background-color: #fff;
  color: $black;
}

@media #{$tablet} {
  .top-navbar {
    padding: 15px 0px;
  }

  .navbar-toggler {
    display: none;
  }

  .collapse.navbar-collapse {
    display: flex;
    flex-direction: column;
  }

  .nav,
  .list-group {
    width: 100%;
    background-color: $old;
  }

  .navbar-expand-md {
    padding: 0px !important;
  }

  .list-group {
    display: flex;
    flex-direction: row !important;
    padding-left: 0;
    margin-bottom: 0;
    align-items: center;
    justify-content: space-between;

    .list-group-item {
      background-color: $old;
    }


    li {
      border: none;

      &:first-child {
        padding-left: 0px;
      }

      &:last-child {
        padding-right: 0px;
      }
    }
  }
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle {
  background-color: $old !important;
  color: $black !important;
}

.button.dropdown-toggle.btn.btn-secondary.active,
.btn-secondary:not(:disabled):not(.disabled):active,
.btn.btn-secondary:hover,
.btn.btn-secondary.active {
  background-color: $old;
  color: $blue !important;
}