.container.login {
  text-align: center;
}
.sign-up,
.login-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.sign-up {
  padding: 15px 0px 15px;
  h4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .btn {
    margin-left: 15px;
  }
}
.login-form {
  text-align: center;
  margin-top: 100px;
  .container {
    // width: 300px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    margin-bottom: 33px;
  }
  button.close {
    float: right;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    span {
      padding: 0px !important;
    }
  }
}
