.container.login {
  text-align: center;
}

.login a span {
  font-family: $font_ubuntu;
  font-weight: 500 !important;

  &:hover {
    color: $white;
  }
}

.sign-up,
.login-form,
.contact {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;

  input,
  textarea {
    border-radius: 2px;
    border: 1px solid $blue;

    &:focus {
      outline: none !important;
      border: 1px solid $blue;
      box-shadow: none;
    }
  }
}

.sign-up {
  padding: 15px 0px 15px;

  .sign-wrapper {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 66px;

    h5 {
      margin-bottom: 0px;
    }
  }

  .btn {
    margin-left: 15px;
  }
}

.login-form {
  text-align: center;

  .container {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    margin-bottom: 33px;
  }

  button.close {
    float: right;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    span {
      padding: 0px !important;
    }
  }
}

@media #{$desktop, $tablet} {
  .login-form {
    margin-top: 100px;

  }
}

@media #{$mobile} {

  .login-form,
  .sign-up {
    width: 90% !important;
    margin-top: 50px;
  }

  .sign-wrapper {
    // min-width: 90% !important;
    // margin-left: auto;
    // margin-right: auto;
    align-items: center;

    h5 {
      text-align: left;
      margin-bottom: 0px;
      ;
    }

    a {
      margin-left: 0px;
      // min-width: 50%;
      align-self: flex-end;

      .btn {
        width: 100%;
        margin-left: 0px;
      }
    }
  }

}