.news,
.news-list {
  .author {
    padding-top: 18px;
    display: flex;
    align-items: center;
    img {
      max-width: 66px;
      max-height: 66px;
      min-height: 66px;
      min-width: 66px;
      border-radius: 50%;
      margin-left: 33px;
    }
    p {
      margin-bottom: 0px;
      font-family: $font_ubuntu;
      font-weight: 400;
    }
  }
  img {
    min-width: 100%;
  }
  .body {
    font-family: $font_sans;
  }
  .category-news {
    margin-top: 15px;
    min-width: 100%;
  }
}
.single {
  padding: 5px;
  .single-main {
    display: flex;
    margin-top: 15px;
  }
  aside {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 30px;
    height: 80%;
  }
  .aside-fixed {
    margin-top: 80px;
    width: 30%;
    position: fixed;
    top: 0;
  }
  .body-fixed {
    width: 100%;
    padding-left: 0px;
    margin-left: 30%;
  }
  .single-body {
    padding-left: 25px;
    width: 70%;
    // margin-left: 30%;
    body {
      padding-top: 15px;
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    padding-left: 0px;
    li {
      list-style: none;
    }
  }
}
@media #{$mobile} {
  .author {
    justify-content: space-between;
  }
}
