.news .container {
  // background-color: $grey;
  display: flex;

  .col-sm-12 {
    background-color: $white;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
  }

  .col-md-8 {
    align-self: center;
  }

  .category-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    border-bottom: 0px;
  }

}

@media #{$mobile} {
  .news {
    background-color: $white;
    padding-top: 15px !important;
  }

  .news .container {
    flex-direction: column;
    padding-bottom: 0px;

    .col-sm-12 {
      padding: 0px 8px;
    }

    .category-header {
      display: flex;
      border-bottom: 0px;
      margin-top: 20px;

      h1 {
        margin: 0px;
        margin-top: 50px;
        font-size: 2rem;
      }
    }
  }

  .news .container {
    .col-md-4.col-xs-12 {
      margin-top: 50px;
      padding: 0px;
      min-width: 100%;
    }
  }
}

@media #{$tablet} {
  .news .container {
    flex-direction: column;
    padding-bottom: 0px;

    .col-md-8 {
      min-width: 100%;
    }
  }

  .news .container {
    .col-md-4.col-xs-12 {
      margin-top: 50px;
      padding: 0px;
      min-width: 100%;
    }
  }
}

iframe .timeline-Widget {
  border-radius: 0px !important;
}

.news-list.container {
  padding-top: 0px;
}

.news {
  padding-top: 50px;
}

.news,
.news-list {
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.container.pagination .col-md-8 {
  background-color: none;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 33px;
  margin-top: 50px;
}

.list-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.users-post {
  img {
    min-height: 95px;
    max-height: 95px;
  }
}

.news,
.news-list {
  .subcat_logo {
    margin-bottom: 0px;
    align-self: center;
  }

  .author {
    padding-top: 18px;
    display: flex;
    align-items: center;

    img {
      max-width: 66px;
      max-height: 66px;
      min-height: 66px;
      min-width: 66px;
      border-radius: 50%;
      margin-left: 33px;
    }

    p {
      font-size: 17px;
      font-weight: 400;
      font-family: $font_ubuntu;
      margin-bottom: 0px;
    }
  }

  img {
    min-width: 100%;
    width: 100%;
    margin-bottom: 10px;
  }

  .body {
    font-family: $font_sans;
  }

  .category-news {
    // margin-top: 15px;
    min-width: 100%;

    h2 {
      // font-size: 1.4rem;
    }
  }
}

.news-list {



  .body,
  h2 {
    text-align: left;

  }

  .body {
    font-size: 1.5rem;
    line-height: 1.1;
    margin-bottom: 2.3rem;

  }
}



@media #{tablet} {
  .twitter-fixed {
    min-width: 300px !important;
  }
}

@media #{$desktop} {

  .news-list,
  .single-news {

    .body,
    h2,
    .category-header {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  .twitter-fixed {
    margin-top: 33px;
    position: fixed !important;
    top: 0px;
    min-width: 300px !important;
  }

  .news .subcat_logo {
    max-width: 150px;
    min-width: 150px;
    max-height: 150px;
    min-height: 150px;
  }

  .col-md-8 {
    position: relative;
    margin-right: 15px;
    padding: 0px 0px 20px !important;

  }

  .news-list {
    .col-md-8 {
      padding-top: 15px !important;

      h1.category-header {
        padding-bottom: 25px;
      }
    }
  }

  .col-md-4.col-xs-12 {
    height: 100%;
  }


}

@media #{$large} {
  .socials .SocialMediaShareButton {
    svg {
      width: 32px !important;
      height: 32px !important;
    }
  }
}

@media #{$desktop} {
  .socials {
    flex-direction: column;
  }

  .socials .SocialMediaShareButton {
    svg {
      width: 28px;
      height: 28px;
    }
  }
}

@media #{$tablet} {

  .socials {
    flex-direction: column;
  }

  .socials .SocialMediaShareButton {
    svg {
      width: 27px;
      height: 27px;
    }
  }

  .twitter {
    width: 100%;
  }

  .col-md-4 .col-xs-12 {
    display: flex;
    justify-content: center;
  }
}

@media #{$mobile} {
  .author {
    justify-content: space-between;
    flex-direction: column;
    align-items: start !important;
    padding-bottom: 10px;

    div {
      display: flex;
      align-items: center;
      padding-bottom: 5px;
    }

    svg {
      margin-right: 5px;
      font-size: 1.4rem;
    }

    p {
      align-self: flex-end;
      padding-bottom: 8px;
    }
  }

  .news-list {
    .subcat_logo {
      max-width: 100px;
      min-width: 100px;
      max-height: 100px;
      min-height: 100px;
    }

    h2 {
      font-size: 1.6rem;
    }
  }

  .news-list,
  .single-news {
    h2 {
      line-height: 1.3;

    }

    img {
      max-height: 266px;
      min-height: 266px;
      width: 100%;
    }
  }

}