.old-school h1 {
    z-index: 9999;
    background-color: $old;
}

.old-school .col-sm-8 {
    margin-left: auto;
    margin-right: auto;


    .category-news a {
        margin-bottom: 2rem !important;
        display: block;
        background-color: $old;



        h2,
        img {
            margin-bottom: 0px !important;
        }

        h2,
        div {
            background-color: $old !important;
            padding: 8px;
        }

        div {
            font-family: $font_sans;
            font-size: 1.5rem;
            line-height: 1.1;
        }
    }

    img {
        min-width: 100%;
        max-width: 100%;
        width: 100%;
        padding: 10px 10px 0px;
        background-color: transparent;

    }

    .more-blog {
        display: flex;
        justify-content: center;

        img {
            margin-left: auto !important;
            margin-right: auto !important;
            min-width: 50% !important;
            max-width: 50% !important;
            width: 50% !important;
        }
    }
}

@media #{$desktop, $tablet} {
    .more-loading {
        padding: 60px !important;
    }

    .old-school {
        background: url("../src/img/brick.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .old-school .col-sm-8 {
        h2 {
            font-size: 1.8rem;
            line-height: 1.1;
        }

        img {
            min-height: 333px !important;
            max-height: 333px !important;
            height: 333px !important;
        }
    }

    .oldschool-list-bg {
        display: none;
    }
}

@media #{$mobile} {

    .old-school h1 {
        font-size: 2.2rem;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 100%;

        svg {
            display: none;
        }

    }

    .old-school .col-sm-8 {
        padding-left: 0px !important;
        padding-right: 0px !important;

        h1 {
            font-size: 2.3rem;
        }

        h2 {
            font-size: 1.6rem;
        }
    }

    .oldschool-list-bg {
        display: none;
    }
}