.socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 25px;
}
.SocialMediaShareButton {
  margin-right: 5px;
  svg {
    border-radius: 50%;
    outline: none;
    &:focus,
    rect {
      outline: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
.container.post-crud {
  padding: 0px;
  .col-md-8 {
    padding: 0px;
  }
  h2 {
    margin-bottom: 33px;
    margin-top: 50px;
  }
  textarea {
    min-height: 300px;
  }
  input,
  textarea {
    padding: 5px;
    border-radius: 2.5px;
    border: 1px solid skyblue;
    margin-bottom: 20px;
    &:focus {
      outline: none;
      border: 1px solid $blue;
    }
  }
  button {
    width: 100%;
  }
  input[type="file"] {
    font-family: $font_ubuntu;
    padding-right: 5px;
    width: 100%;
  }
}
