.search-list {

    margin-top: 40px;

    .bungee {
        margin-bottom: 33px;
    }

    .body {
        font-family: $font_sans;
        font-size: 22px;
        line-height: 1.2;
    }
}


@media #{$desktop} {

    // .search-list {
    .container.search,
    .col-md-8.search-list {
        padding-left: 0px;
        padding-right: 0px;


    }

    // }
}

@media #{$mobile} {
    .search-list img {
        max-height: 250px;
        min-height: 250px;
    }

    .search,
    .search-list,
    .search-list .container {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}