.col-md-4 {
  padding-right: 0px !important;
  margin-right: 0px;

  .sidebar-list {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    background-color: #fff;
    padding: 8px 8px 0px;

    .sidebar-list-post {
      display: flex;
      flex-direction: row;
      margin-bottom: 12px;
    }

    h2 {
      font-family: $font_bungee;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 25px;
    }

    img {
      width: 33%;
      min-width: 34%;
      min-height: 68px;
      max-height: 68px;
    }

    p {
      text-align: left;
      color: $black;
      font-family: $font_sans;
      padding-left: 8px;
      line-height: 1;
      font-size: 19px;
      margin-bottom: 0px;
      align-self: center;
    }

    a {
      min-width: 100%;
    }

    a:hover {
      p {
        color: $blue;
      }
    }
  }
}

@media #{$mobile} {
  .twitter-wrapper {
    max-width: 300px;
  }
}