.single {
    background-color: $light_green;

    p {
        margin-top: 20px;
    }

    .single-share {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }


    .comment-avatar,
    .commentator {
        margin-right: 25px;

        span {
            padding-top: 5px;
            font-family: $font_ubuntu;
            font-size: 14px;
            text-align: center;
        }
    }

    .new-comment {
        display: flex;
        flex-direction: row;
    }

    .commentator {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .comment-separator {
        width: 10%;
        border-color: $blue;
    }

    .comment-body {
        font-family: $font_sans;
        font-size: 19px;
        display: flex;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 1.3;
        border-bottom: 1px solid rgba(2, 2, 2, 0.1);
    }

    h4 {
        margin-bottom: 0px;
    }

    h4,
    .likes {
        font-family: $font_ubuntu;
        font-size: 1.3rem;
        color: $grey;
        font-weight: 500;
        align-items: center;
        display: flex;

        svg {
            margin-right: 8px;
        }
    }

    .post-interaction {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .comments {
        img {
            max-width: 85px;
            border-radius: 50%;
            max-height: 85px;
            min-width: 85px;
            min-height: 85px;
            margin-bottom: 0px;
        }
    }

    .delete-comment {
        display: flex;
        justify-content: space-between;

        button {
            background: transparent;
            border: none;

            svg {
                font-size: 25px;
            }

            &:hover {
                color: coral;
            }
        }
    }

    .comment-avatar {
        display: flex;
        flex-direction: column;
    }

    .comment-text {
        align-self: start;
        display: flex;
        flex-direction: column;

        span {
            padding: 8px 0px 0px;
            font-size: 13px;
            font-weight: 500;
            font-family: $font_ubuntu;
        }
    }
}

.single {
    .comment-wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .blue {
            margin-top: 15px;
        }
    }

    .comment-form {
        display: flex;
        width: 100%;
        flex-direction: column;

        p.ubuntu {
            margin-top: 10px;
            margin-bottom: 0px;
            color: coral;
        }
    }

    .comment-wrapper textarea {
        height: 125px;
        // width: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 0px 15px 0px 6px;
        margin: 15px 15px 15px 0px;
        border: 1px solid rgba(2, 2, 2, 0.05);
        color: rgba(2, 2, 2, 0.7);
        font-family: $font_sans;
        font-size: 19px;
        outline: none;
        background-color: rgba(255, 255, 255, 0.7);

        &:focus {
            border: 1px solid $blue;
        }
    }
}

.single-info {
    display: flex;
    justify-content: space-between;
    align-self: start;

    .socials {
        padding-bottom: 10px;
    }

    .avatar {
        margin-bottom: 10px;
    }
}

.single-blog-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .author {
        font-family: $font_ubuntu !important;
        font-weight: normal;
        font-size: 18px;

        span {
            font-weight: 500;
            text-transform: lowercase;
            padding: 0px;
            font-size: 1.1rem;
        }

        .svg {
            margin-right: 15px;
        }
    }

    .avatar {
        min-width: 100px;
        min-height: 100px;
        max-width: 100px;
        max-height: 100px;
        border-radius: 50%;
    }

}

@media #{$tablet} {
    .single {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        padding-bottom: 15px;
    }

    .single-share .socials {
        flex-direction: row;
    }
}

@media #{$mobile} {
    .single.col-md-8 {
        padding: 0px 6px;

        .commentator {
            margin-right: 15px;
        }

        .blue {
            width: 100%;
        }

        .single-info {
            margin-bottom: 13px;
        }

        h2 {
            font-size: 1.6rem;
            line-height: 1.2;
            margin-top: 15px;
        }
    }

    .single-blog-wrapper .avatar,
    .single .comments img {
        max-width: 90px;
        min-width: 90px;
        max-height: 90px;
        min-height: 90px;
        margin-right: 3px;
    }


    .single {
        margin-top: 80px;
        margin-bottom: 80px;

        h2 {
            padding-bottom: 10px;
        }

        .comment-wrapper {
            flex-direction: column;

            textarea {
                width: 100%;
                margin-bottom: 0px;
            }

            button {
                margin-bottom: 15px;
            }
        }

        .comment-body {
            font-size: 1.1rem;
        }
    }

    .article-cover {
        max-height: 250px !important;
        min-height: 250px !important;
        height: 250px !important;
    }
}