$bg_color: #eff1f3;
$black: #272727;
$white: #fff;
$blue: #009fb7;
$orange: #ff6e08;
$green: #12b856;
$grey: #292f33;
$dark_grey: rgba(2, 22, 22, 0.9);
$wheat: rgba(255, 255, 205, 1);
$old: rgba(255, 222, 194, 1);
$light_green: rgba(246, 255, 247, 0.98);

$font_bungee: "Bungee Shade",
sans-serif;
$font_ubuntu: "Ubuntu",
Arial,
sans-serif;
$font_oswald: "Literata",
Arial,
sans-serif;

$font_elsie: "Elsie",
sans-serif;
$font_sans: "Darker Grotesque",
serif;

$large: "(min-width: 1199px)";
$desktop: "(min-width: 992px)";
$tablet: "(min-width: 768px) and (max-width: 991px)";

$mobile: "(max-width: 767px)";