.welcome-container,
.news {
  width: 100%;
  background: rgba(2, 22, 22, 0.9);

  .latest {
    font-family: $font_bungee;
  }

  .carousel-item img {
    border: 1.5px solid $wheat !important;
    box-shadow: 1px 1px 3px #888888;
  }
}

.welcome-container {
  .container {
    padding: 50px 0px 0px;
  }
}

.new-blog .col-md-8 {
  padding-left: 8px;
  padding-right: 8px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 33px;
}

.container-row.welcome-blog h1 {
  padding: 15px;
  color: $black;
  margin-left: auto;
  margin-right: auto;
  ;
}

.carousel-indicators li {
  height: 18px !important;
  background-color: $blue !important;
  border: 2px solid $wheat !important;
}

a .carousel-control-prev-icon,
a .carousel-control-next-icon {
  color: $blue !important;
  font-size: 14px;
}

.post-wrapper:hover {
  color: $old;
}

.small-carousel {
  display: flex;
  justify-content: space-between;

  .small-carousel-post:nth-child(1) {
    margin-right: 10px;
  }

  .small-carousel-post:nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
  }

  .small-carousel-post:nth-child(3) {
    margin-left: 10px;
    margin-right: 0px;
  }

  .small-carousel-post {
    width: 100%;
    z-index: 9999;
    margin: 33px 0px 5px;

    &:hover {
      p {
        color: $wheat;
        cursor: pointer;
      }
    }

    img {
      margin-bottom: 7px;
    }

    p {
      font-size: 22px;
      text-align: left;
      font-family: $font_sans;
      font-weight: lighter;
      line-height: 1;
      color: $white;
    }
  }
}

.header-title {
  font-family: $font_oswald;
}

.category-blog.col-md-3.col-sm-6.col-xs-12 a {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $light_green;
  padding-left: 5px;
  padding-right: 5px;
  border: 4px solid $light_green;
  transition: .77s;

  &:hover {
    border: 4px solid rgba(75, 144, 221, 0.5);
    box-shadow: 0px -3px 11px rgba(55, 150, 200, .8);
    color: rgba(22, 21, 21, 0.88) !important;
  }
}

.container.pundits {
  padding-bottom: 66px;

  .container {
    padding-top: 0px !important;
    display: flex;
    justify-content: center !important;
    margin-bottom: 33px;

    h1 {
      padding: 15px;
      color: $black;
      margin-bottom: 15px;
    }
  }
}

.welcome-blog a:hover {
  color: rgba(194, 77, 40, .94) !important;

}

@media #{$desktop, $tablet} {

  .container-row.new-blog {
    background-size: cover !important;
    padding-top: 100px;
  }

  .container-row.welcome-blog,
  .container-row.new-blog {
    p.sans.mobile {
      display: none;
    }

    h1 {
      font-size: 3.6rem;
      margin-top: 15px;
      margin-bottom: 10px;
    }

    h2 {
      padding-bottom: 15px;
    }

    .col-md-6 {
      flex: 0 0 45%;
      max-width: 45%;
      padding: 10px 6px;
      margin-bottom: 50px;
    }

    .body {
      p {
        display: flex;
        padding-bottom: 15px;
      }

      img {
        float: left;
      }
    }

    .col-md-6 a {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
  }

  .container-row.new-blog {
    .body {
      margin-top: 15px;
      // justify-content: space-between;
      flex-direction: column;
      height: 100%;
    }

    .col-md-8.header h1 {
      position: absolute;
      top: 1.66rem;
      left: 1.66rem;
      z-index: 7777;
      margin-top: 0px;
    }

    .col-md-8 img {
      max-height: 500px;
      min-height: 500px;
      min-width: 100%;
    }

    .header-info {
      position: relative;
      background-color: $light_green;
      margin-top: -15px;
    }

    .header-title {
      font-size: 2.3rem;
      background-color: $light_green;
      color: $black;
      margin: 0px;
      padding-left: 8px;
      display: flex;
      justify-content: space-between;
      padding-bottom: 8px;
    }

    .published {
      font-weight: 500;
      right: 0;
      font-size: 1.5rem;
      padding: 15px;
      top: -60px;
    }

    .new-blog.header {
      position: relative;
      align-items: flex-end;
      padding-top: 0px;
      min-height: 700px;
      max-height: 700px;

      h2 {
        padding-bottom: 0px;
        margin-bottom: 0px;
        margin-top: 10px;
        align-self: center;
      }

      img {
        height: 500px;
        min-height: 500px;
        max-height: 500px;
        margin-bottom: 0px;
      }

      p {
        position: relative;
        bottom: 0px;
        background: $light_green;
        color: black;
        margin-bottom: 0px;
        line-height: 1.3;
      }
    }

    .published p {
      background-color: $light_green;
      padding: 1.2rem .66rem;
      font-size: 1.3rem;
    }

    p.sans {
      padding: 10px 8px;
      font-size: 1.5rem;
      background-color: $light_green;

    }


    .avatar {
      // border-radius: 50%;
      margin-top: 33px;
      min-height: 133px !important;
      min-width: 133px !important;
      max-height: 133px !important;
      max-width: 133px !important;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .category-blog.col-md-3.col-sm-6.col-xs-12 .list-header {
    min-height: 100px;
  }

  .controllers {
    width: 50%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    margin-left: 50%;
    margin-bottom: 50px;
    bottom: 50px;
  }

  .latest {
    width: 33%;
    position: absolute;
    text-align: left;
    color: $old;

    padding: 20px 0px 0px 0px;
  }

  span {
    padding: 16px;
  }

  .carousel-indicators {
    margin-left: 67% !important;
  }

  .carousel-caption {
    bottom: 0px !important;
  }

  .carousel-caption.d-none.d-md-block {
    width: 50%;
    left: 0;
    color: $white;
    height: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    padding-bottom: 0px;
    padding-right: 15px;
    z-index: 0;

    &:hover {
      color: $old;

    }

    h3 {
      line-height: 1.1;
      font-family: $font_oswald;
    }

    p {
      padding-top: 20px;
      margin-bottom: 0px;
      font-family: $font_sans;
      font-size: 22px;
      line-height: 1.1;
    }
  }
}

.carousel-item {
  max-height: 388px;
  min-height: 388px;
  display: flex;
  align-items: center;
}

.post-wrapper {
  display: flex;
  flex-direction: column;
  border: 1.5px solid #ffffcd;
  box-shadow: 1px 1px 3px #888888;
  height: 100%;
  z-index: 9999;
  overflow: hidden;
  min-height: 166px;
  height: 166px;
  max-height: 166px;
}

.small-carousel-post {
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 9999;
  margin: 33px 0px;
  display: flex;
  flex-direction: column;
  border: none;

  &:hover {
    color: $wheat;
  }

  &:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    max-height: 166px;
    min-height: 166px;
    overflow: hidden;
    height: 166px;
    max-width: 100%;
  }

  img {
    max-width: 100%;
    width: 100%;
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    overflow: hidden;
    max-height: 166px;
    min-height: 166px;
  }

  p {
    margin-top: 10px;
    font-size: 15px;
  }
}

@media #{$desktop} {
  .carousel-item .news-image {
    position: relative;
    overflow: hidden;
    height: 388px;
    max-height: 388px;
    min-height: 388px;
    width: 50%;
    margin-left: 50%;
    border: 1.5px solid $wheat !important;
    box-shadow: 1px 1px 3px #888888;
  }

  .carousel-item .news-image img {
    transition: all 0.8s;
    overflow: hidden;
    max-height: 388px;
    min-height: 388px;
    width: 100%;
    margin-left: 0%;
    border: none;
  }
}

.carousel-item .news-image:hover {
  overflow: hidden;
  max-width: 100%;

  img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    max-height: 388px;
    min-height: 388px;
    overflow: hidden;
    height: 388px;
    max-width: 100%;
  }
}

@media #{$mobile} {

  .category-blog.col-md-3.col-sm-6.col-xs-12,
  .category-blog.col-md-3.col-sm-6.col-xs-12 a {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .category-blog.col-md-3.col-sm-6.col-xs-12 {
    margin-bottom: 33px;
  }

  .new-blog .col-md-8 {
    padding: 0px;
  }

  .container-row.new-blog {
    background-size: cover !important;

    img {
      margin-bottom: 0px !important;
    }

    h1 {
      margin: 33px auto;
      // width: 100%;
      text-align: center;
    }

    .body {
      flex-direction: column;

      p {
        padding-left: 5px;
        padding-bottom: 5px;
      }
    }

    .avatar {
      border-radius: 50%;
      margin-top: 33px;
      margin-bottom: 20px !important;
      min-height: 133px !important;
      min-width: 133px !important;
      max-height: 133px !important;
      max-width: 133px !important;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .container-row.welcome-blog,
  .container-row.new-blog {
    .col-md-6.col-xs-12 {
      padding: 8px
    }

  }

  .new-blog {

    .header {
      display: flex;
      flex-direction: column;
    }


    .header-info {
      color: $grey;
      position: relative;
      margin-top: -45px;
    }

    .header-title {
      font-size: 1.4rem;
      line-height: 1.3;
      padding: 0px;
      display: flex;
      flex-direction: column-reverse;
    }

    .header-title {
      background-color: transparent;
    }

    h2 {
      margin: 0px !important;
      padding-left: 5px;
      padding-top: 5px;
      padding-bottom: 10px;
    }

    p.sans,
    .published.bungee p,
    .header-title h2 {
      background-color: $light_green;
    }

    p.sans.large {
      display: none;
    }

    .published.bungee {
      padding: 10px;
      margin-bottom: 0px;
      background-color: $light_green;
      font-size: 1rem;
      align-self: flex-end;

      p {
        padding: 10px;
        margin-bottom: 0px;
        font-size: 1.2rem;
        margin-top: -30px;
        background-color: $light_green;
        padding: 10px;
      }
    }

    p.sans {
      font-size: 1.3rem;
      padding: 8px;

    }

    .col-md-6 {
      min-width: 100%;
      margin-bottom: 50px;
    }
  }

  .welcome-container .container {
    padding: 0px !important;

    img {
      border: none !important;
    }
  }

  h1.latest {
    display: none;
  }

  .welcome-blog {

    .body {
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }


    h1 {
      margin: 3rem auto;
      padding: 25px !important;
    }
  }

  .category-blog h2 {
    min-height: 40px;
  }

  .carousel-item img,
  .carousel-item {
    max-height: 266px;
    min-height: 266px;
    width: 100%;
  }

  .carousel-item .news-image {
    z-index: 1;
    width: 100%;
    margin-left: 0%;
    height: 266px;
    max-height: 266px;
    min-height: 266px;
  }

  .carousel-item .news-image img {
    max-height: 266px;
    min-height: 266px;
  }

  .carousel-item .news-image:hover {
    img {
      max-height: 266px;
      min-height: 266px;
      height: 266px;
    }
  }

  .post-wrapper,
  .post-wrapper img {
    min-height: 125px;
    max-height: 125px;
  }

  .small-carousel .small-carousel-post p {
    font-size: 1rem;
    margin-bottom: 0px;
    height: auto;
  }

  .small-carousel .small-carousel-post {
    margin-top: 20px;
  }

  .small-carousel {
    .small-carousel-post:nth-child(1) {
      margin-right: 5px;
    }

    .small-carousel-post:nth-child(2) {
      margin-left: 5px;
      margin-right: 5px;
    }

    .small-carousel-post:nth-child(3) {
      margin-left: 5px;
      margin-right: 0px;
    }
  }

  .navbar {
    padding: 0px !important;
  }

  .container-row.welcome-blog {
    .col-md-6 {
      min-width: 100%;
      margin-bottom: 66px !important;
      border: 1px solid rgba(255, 199, 155, 0.98) !important;

    }
  }
}

h1.latest {
  padding: 0px 0px 15px;
  color: $old;
}

.container-row.new-blog {
  background: url("../src/img/stadium.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

  // .category-blog,
  h1 {
    background-color: $light_green;
  }

}

.container-row.welcome-blog {
  background: url("../src/img/blog.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: contain;

  h1,
  .category-blog {
    background-color: rgba(255, 199, 155, 0.98);

  }

  .category-blog {
    margin-bottom: 27px;

    h2 {
      line-height: 1.1;
      margin-bottom: 0px;
    }
  }
}

.container-row.welcome-blog,
.container-row.new-blog {
  .col-md-6.col-xs-12 {
    padding: 8px
  }

  h2 {
    font-size: 1.3rem;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: space-between;

    img {
      max-width: 100%;
      min-width: 100%;
      max-height: 250px;
      min-height: 250px;
      margin-bottom: 10px;
    }

    color: $old;

    .body {
      display: flex;
      // flex-direction: row;

      img {
        max-width: 100px;
        max-height: 100px;
        min-width: 100px;
        min-height: 100px;
        margin-top: 15px;
        margin-right: 20px;
        border-radius: 45%;
        align-self: baseline;
        float: left;
      }

      p {
        font-family: $font_sans;
        margin: 0px;
        font-size: 22px;
        line-height: 1.2;
        align-self: center;
        // display: flex;
        align-items: center;
      }
    }
  }

  .col-md-8.header {
    display: flex;
    font-family: $font_bungee;
    justify-content: center;
    color: #fff;

    h1 {
      text-align: center;
      padding: 5px 12px 10px;
      color: black;
      // width: 100%;
    }
  }

}

@media #{$tablet} {
  .container-row.new-blog .container.new-blog.header p {
    font-size: 1rem;
  }

  .carousel-caption {
    width: 100%;
    left: 0% !important;
    right: 0% !important;
    padding: 0px 2px;

    h3 {
      font-family: $font_oswald;
      background: rgba(0, 0, 0, 0.8);
      padding-bottom: 10px;
      margin-bottom: 20px;
      color: $old;
    }

    p {
      display: none;
    }
  }

  .carousel-item .news-image {
    z-index: 1;
    width: 100%;
    margin-left: 0%;
    height: 388px;
    max-height: 388px;
    min-height: 388px;
  }

  .carousel-item .news-image img {
    max-height: 388px;
    min-height: 388px;
    width: 100%;
  }

  .carousel-item .news-image:hover {
    border: 1.5px solid $old !important;

    img {
      border: 1.5px solid $old !important;
    }
  }

  .col-md-6 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    padding: 10px;
    // margin-bottom: 100px;
    border: 1px solid $old !important;
  }
}