.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600|Ubuntu:400,500,600,700|Oswald:500,600|Elsie:900|Bungee+Shade");
@import "./sass/variables.scss";
@import "./sass/login.scss";
@import "./sass/header.scss";
@import "./sass/welcome.scss";
@import "./sass/sidebar.scss";
@import "./sass/blog.scss";
@import "./sass/news.scss";
@import "./sass/post.scss";
@import "./sass/contact.scss";

a {
  &:hover {
    text-decoration: none !important;
  }
}
.content.container {
  padding: 40px 0px 0px 0px;
  display: flex;
  align-items: center;
  // justify-content: center;
  .body {
    font-family: $font_sans;
    line-height: 1.3;
  }
}

.card {
  border: none !important;
}
.loading {
  min-width: 100%;
}

.category-header {
  font-family: $font_bungee;
  // width: 75%;
  border-bottom: 2px solid $black;
  // display: flex;
  // justify-content: center;
  margin: 14px 0px 66px !important;
  padding-bottom: 8px;
}
.form {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
  input,
  textarea {
    margin-bottom: 22px;
  }
  button {
    width: 100%;
  }
}
