.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@import url("https://fonts.googleapis.com/css?family=Darker+Grotesque:400,500|Ubuntu:400,500,600,700|Literata:400,500,600|Elsie:900|Bungee+Shade");
@import "./sass/variables.scss";
@import "./sass/login.scss";
@import "./sass/header.scss";
@import "./sass/footer.scss";
@import "./sass/welcome.scss";
@import "./sass/sidebar.scss";
@import "./sass/blog.scss";
@import "./sass/news.scss";
@import "./sass/post.scss";
@import "./sass/contact.scss";

a {
  &:hover {
    text-decoration: none !important;
  }
}
.content {
  // min-height: 1000px;
}

.loading {
  width: 80%;
  min-height: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 300px 300px;
}
.SocialMediaShareButton {
  outline: none;
}
.content.container {
  padding: 40px 0px 0px 0px !important;
  display: flex;
  align-items: center;
  // justify-content: center;
  .body {
    font-family: $font_sans;
    line-height: 1.3;
  }
}

.card {
  border: none !important;
}
.category-header {
  font-family: $font_bungee;
  // width: 75%;
  border-bottom: 2px solid $black;
  // display: flex;
  // justify-content: center;
  margin: 14px 0px 66px !important;
  padding-bottom: 8px;
}
.form {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
  input,
  textarea {
    margin-bottom: 22px;
  }
  button {
    width: 100%;
  }
}
.bg-light,
nav,
.navbar-expand-md .navbar-collapse,
.nav-search-form {
  background-color: #fff !important;
}
.navbar-expand-md .navbar-collapse {
  justify-content: space-between;
}
ul.pagination {
  justify-content: center;
}
@media #{$mobile} {
  .container {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .blog-list {
    width: 100%;
  }
  .carousel-caption.d-none.d-md-block {
    display: flex !important;
    flex-direction: column;
    bottom: 0px;
    right: 3px;
    left: 3px;
    justify-content: flex-end;
    height: 300px;
    text-align: left;
    padding-bottom: 0px;

    h3 {
      align-self: center;
      font-family: $font_oswald;
      background: rgba(0, 0, 0, 0.8);
      padding: 10px 15px 10px;
      margin-bottom: 50px;
      font-size: 20px;
      color: $wheat;
    }
    p {
      display: none;
    }
  }
  .controllers {
    display: none !important;
  }
}
.bungee {
  font-family: $font_bungee;
}
.blue {
  align-self: start;
  margin-top: 15px;
  // margin-left: 15px;
  padding: 8px 28px;
  text-transform: uppercase;
  font-family: $font_ubuntu;
  background-color: $blue;
  color: $white;
  font-weight: 600;
  font-size: 12px;
  border-radius: 2px;
  letter-spacing: 1.2pt;
  &:hover {
    background-color: $white;
    color: $blue;
    border: 1px solid $blue;
  }
  &:focus {
    outline: none !important;
  }
}
@media #{$desktop} {
  .carousel-caption.d-none.d-md-block {
    width: 50%;
    left: 0;
    padding-right: 20px;
    text-align: left;
    bottom: 0px;
    padding-bottom: 0px;
    p {
      margin-bottom: 0px;
    }
  }
  .carousel-indicators {
    width: 50%;
    margin-left: 50% !important;
    padding-bottom: 20px;
  }
}
.active-page {
  background-color: $blue !important;
  color: $white !important;
}
